{%- comment -%} Main Page Section {%- endcomment -%}
<section class="page-content">
  <div class="container">
    <div class="page-content__inner">
      <h1>{{ page.title }}</h1>
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Seiteninhalte",
  "settings": []
}
{% endschema %}
