<section class="page-404">
  <div class="container">
    <h1>404</h1>
    <p>{{ '404.text' | t }}</p>
    <a href="/" class="btn btn--primary">{{ '404.button' | t }}</a>
  </div>
</section>

{% schema %}
{
  "name": "404-Seite",
  "settings": []
}
{% endschema %}
